<div class="hakahaka">
shine -60k
 <div class ="nda">まだわからん</div>
  <h1>Tweet</h1>
  <input>
 <input type="button" class="btn" id="blue_btn" value="ボタン1" />
</div>
 <input type="button" value="ボタン2" />
    <input type="button" value="ボタン3" />
    <div>約束された6ツモ２</div>
    <p>HTML学習</p>
    <input> <input type="button" value="検索">