<h1>トップページ</h1>
<div class="hakahaka">
if文を使ったもの
 <div class ="nda">条件式in</div>
  <h1>Tweet</h1>
  <input>
 <input type="button" class="btn" id="blue_btn" value="ボタン1" />
</div>
<h3>Aqours</h3>
    <div>Yo</div>
    <p>"+num+"whileでループさせてbreakで閉める</p>
    <input> <input type="button" value="検索">
    <div class="now">リスト</div>
    <div>大宮駅からのアクセス</div>
    <h2>PeakyP-key</h2>
    <h2>PhotonMaiden</h2>
    <h3>System .out.printn</h3>
    <h5>沼津出発</h5>
    <a href="ikumake.com">
    <input type="button" class="btn" id="btn" value="ボタン1" />
    <div>51</div>