<div class="hakahaka">
shine -60k
 <div class ="nda">owaowari</div>
 <input type="button" class="btn" id="blue_btn" value="ボタン1" />
</div>
 <input type="button" value="ボタン2" />
    <input type="button" value="ボタン3" />
    <div>約束された</div>