<div class="hakahaka">
shine
 <div class ="nda">namete</div>
 <input type="button" class="btn" id="blue_btn" value="ボタン1" />
</div>
 <input type="button" value="ボタン2" />
    <input type="button" value="ボタン3" />