header{
height: 100px;
width: 100%;
}

.grid-6{
  background-color: chartreuse;
}

.post{
background-color: coral;
}

.hakahaka{
  height: 500px;
  background-color: aqua;
  display: flex;
}

.btn {
  padding: 2px 4px;       /*余白を設定*/
  color: #FFF;            /*文字の色*/
  border-radius: 3px;     /*角を丸める*/

.nda{
  height: 50px;
  background-color: blue;
  font-size: 30px;
  margin: 40px;
}

footer{
  height: 100px;
  width: 100%;
}