header{
height: 100px;
width: 100%;
}

.grid-6{
  background-color: chartreuse;
}

.post{
background-color: coral;
}

.hakahaka{
  height: 500px;
  width: 700px;
  background-color: aqua;
  display: flex;
}


.nda{
  height: 50px;
  background-color: blue;
  font-size: 30px;
  margin: 40px;
}

footer{
  height: 100px;
  width: 100%;
}

.now{
  background-color: yellow;
  color: aquamarine;
  height:70px
  
}